.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.gold-yellow{
  background: rgb(233, 147, 41);
  background: linear-gradient(138deg, rgba(255,147,15,1) 0%, rgba(255,249,91,1) 100%);
}


.green-sky{
  background: rgb(0,255,135);
  background: linear-gradient(133deg, rgba(0,255,135,1) 33%, rgba(96,239,255,1) 100%);
}